<!-- templates/home.html --> 
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %} 
<div class="jumbotron">
  <h1 class="display-4">Welcome to InstaMini</h1>
  <p class="lead">A mini Instagram website built with Django.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}" role="button">View All Posts</a>
  </p>
</div>
{% comment %} 
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p> 
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a> 
{% endif %}  {% endcomment %}

{% endblock %}