
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row profile-settings">
  <div class="col-xs-12">
    <div class="profile-pic-name">
      {% if user.profile_pic %}
        <img class="picture-circle--medium" src="http://{{ request.META.HTTP_HOST }}/{{user.profile_pic.url}}">
      {% endif %}
      <span class="username">{{ user.username }}</span>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Update</button>
    </form>
  </div>
</div>

{% endblock content %}